<!--The whole content below can be removed with the new code.-->
<div class="container">
  <div class="row">
    <br>
    <br><br>
  </div>
  <div class="row">
      <div class="col-md-2 col-xs-2">

      </div>
      <div class="col-md-4 col-xs-4">
        <button   id="button1"    class="btn btn-primary" [attr.aria-label] = "button1text" (click)="onClickButtonOne()">
          Button {{button1text}}
        </button>
      </div>
    
      <div class="col-md-4 col-xs-4">
        <input  id="button2" type="button" value="Button Two" class="btn btn-primary" (click)="onClickButtonTwo()" />
      </div>
      <div class="col-md-2 col-xs-2">
        
      </div>
  </div>
  <div class="row">
    <br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
</div>
<div  [style.left]="left" *ngIf="isToolTipVisible" class="floating" >
    <pm-tooltip [messageText] = 'toolTipMessage' (toolTipClicked)='onTooltipClicked($event)'></pm-tooltip>
</div>